:root{
    --main-color : #0d6172;
    --navbar-height : 125px;
    --header-height: 45px;
    --black-color: #000;
    --white-color:#fff;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    
} 
ul{
    text-decoration: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
